<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<extensions>
		<add assembly="NLog.Targets.ElasticSearch"/>
	</extensions>
	
	<!-- the targets to write to -->
	<targets>
		<!-- write logs to file -->
		<target xsi:type="File" name="filelogall" fileName="${basedir}/${shortdate}/all.log" maxArchiveFiles="2" archiveAboveSize="1000000"
				layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />
		<target xsi:type="File" name="filelognetwork" fileName="${basedir}/${shortdate}/network.log" maxArchiveFiles="2" archiveAboveSize="1000000"
				layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />
		<target xsi:type="File" name="filelogcritical" fileName="${basedir}/${shortdate}/critical.log" maxArchiveFiles="2" archiveAboveSize="1000000"
				layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />
		<target xsi:type="File" name="filelogcore" fileName="${basedir}/${shortdate}/core.log" maxArchiveFiles="2" archiveAboveSize="1000000"
				layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />
		<target xsi:type="File" name="filelogcontents" fileName="${basedir}/${shortdate}/contents.log" maxArchiveFiles="2" archiveAboveSize="1000000"
				layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />
		<target xsi:type="ColoredConsole" name="logconsole" useDefaultRowHighlightingRules="true"
				layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring} [${villservice}] [${villprofile}] [${villmode}]" >
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Magenta"/>
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red"/>
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow"/>
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkBlue"/>
		</target>
		<target name="elastic" xsi:type="ElasticSearch" index="bk_dev"
                uri="http://127.0.0.1:9200"
                layout ="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" >
		</target>
		<target xsi:type="Network" name="logstash"
            address="tcp://127.0.0.1:50000"
            newLine="true"
            keepConnection="True" KeepAliveTimeSeconds="30" >
			<layout xsi:type="JsonLayout" includeAllProperties="false">
				<attribute name="@timestamp" layout="${date:universalTime=true:date:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="message" layout="${message}" />
				<attribute name="machinename" layout="${machinename}" />
				<attribute name="threadid" layout="${threadid}" />
				<attribute name="exception" layout="${exception}" />
				<attribute name="villservice" layout="${villservice}" />
				<attribute name="villprofile" layout="${villprofile}" />
				<attribute name="villmode" layout="${villmode}" />
			</layout>
		</target>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		
		<logger name="*" minlevel="Info" writeTo="filelogall,logconsole" />
		<logger name="*" minlevel="Warn" writeTo="logstash" />
		<logger name="Core" minlevel="Debug" writeTo="filelogcore" />
		<logger name="Critical" minlevel="Warn" writeTo="filelogcritical" />
		<logger name="Contents" minlevel="Debug" writeTo="filelogcontents" />
		<logger name="Network" minlevel="Debug" writeTo="filelognetwork" />
	</rules>
</nlog>